* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "inter", "sans-serif";
}

/* Navigation bar*/
.nav-container {
  height: 5em;
  background: #ffffff;
  margin-top: 2px;
  margin-bottom: -30px;
}

.nav-wrapper {
  max-width: 1300.5px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}
.logo {
  width: 27.5px;
  height: 40px;

  /* background: #041836; */
}
.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li a {
  color: #041836;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter, sans serif";
  font-style: normal;
  text-decoration: none;
  line-height: 19px;
}

/*Header Styling */

.header-wrapper {
  background-image: url(images/header-image.png);
  background-color: #041836;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100;
  height: 740px;
  padding-left: 13px;
  padding-top: 10px;
}
.header-wrapper .header-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
}
.header-content h1 {
  width: 525px;
  height: 64px;

  font-family: "Poppins san-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  margin: 0;

  color: #ffffff;
}

.header-content p {
  width: 435px;
  height: 24px;

  font-family: "Avenir sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 0;
  margin-bottom: 56px;
  /* text-transform: uppercase; */

  color: #ffffff;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 120px;
}
.header-buttons button {
  width: 50px;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Blue */

  color: white;
}
.header-buttons button:hover {
  width: 50px;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Blue */

  color: #3574c4;
}

.header-buttons button {
  border: solid 2px white;
  padding: 10px;
  gap: 10px;
  background: none;
  width: 160px;
  height: 40px;
  border-radius: 20px;
}

.header-buttons button:hover {
  padding: 10px;
  gap: 10px;

  width: 160px;
  height: 40px;

  background: #ffffff;
  border-radius: 20px;
}
.page2 {
  position: relative;
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.page2-content1 {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: relative;
  width: 1216px;
  height: 145px;
  left: 112px;
  top: 56px;
}

.page2-content1 h2 {
  width: 219px;
  height: 44px;

  font-family: "Avenir sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.page2-content1 p {
  width: 1216px;
  height: 81px;

  font-family: "Avenir sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;
  padding: 0 202px;
  display: flex;
}
.page2-image {
  position: relative;
  width: 800px;
  height: 800px;
  left: 0;
  top: 130.4px;
  padding-left: 0;
  margin-left: 0;
  /* background-image: url(images/page2-image.jpg); */

  background-repeat: no-repeat;
}
.page2-image img {
  position: relative;
  border-radius: 45% 50% 50% 0;
  padding-left: 0;
  margin-left: 0;
}
.page2-content2 {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
  left: -25px;
}

/* The blue background */
.blue-background {
  background-color: #041836;
  height: 800px;
  z-index: 10;
  position: relative;
}

.page3-container {
  position: relative;
  display: flex;
}

.page3-content-wrapper {
  display: flex;
  position: relative;
}
.image-wrapper {
  position: relative;
}

.page3-image {
  position: relative;
  top: 127px;
}
.page3-content {
  position: relative;
  top: 256px;
  right: 400px;
  position: relative;
}

.page3-content h2 {
  position: relative;
  width: 503px;
  height: 256px;
  left: 777px;

  font-family: "Poppins sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}
.page3-content p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 365px;
  height: 64px;
  left: 777px;
  padding-top: 49px;
  font-family: "Roboto sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  color: #000000;
}

.page3-buttons {
  position: relative;
  left: 777px;
  top: 71px;
}

.page3-buttons button {
  position: relative;
  width: 160px;
  height: 40px;
  color: #3574c4;
  border-color: #3574c4;

  background-color: #ffffff;
  border-radius: 20px;
}

.page3-buttons button:hover {
  background-color: #3574c4;
  color: #ffffff;
  border-color: #ffffff;
  /* border-radius: 20px; */
}
.page3-red-dots {
  position: relative;
  left: 625px;
  bottom: 530px;
  width: 90px;
  height: 240px;
  background-color: white;
  background-image: radial-gradient(#f44a4a 15%, transparent 11%),
    radial-gradient(#f44a4a 10%, transparent 10%);
  background-size: 30px 30px;
  background-position: 0 0, 0 30px;

  background-repeat: repeat;
}
.page3-blue-dots {
  position: relative;
  right: 300px;
  top: 830px;
  width: 240px;
  height: 90px;
  background-color: white;
  background-image: radial-gradient(#3574c4 15%, transparent 11%),
    radial-gradient(#3574c4 10%, transparent 10%);
  background-size: 30px 30px;
  background-position: 0 0, 0 30px;

  background-repeat: repeat;
}
.vertical-line {
  position: absolute;
  width: 358px;
  height: 0px;
  left: 800px;
  top: 500px;

  border: 1px solid #000000;
  transform: rotate(90deg);
}

.blue-background2 {
  background-color: #041836;
  display: absolute;
}
.footer-wrapper {
  display: flex;
  height: 414px;

  align-items: center;
  justify-content: space-around;
  position: relative;
}

.footer ul {
  color: white;
  text-decoration: none;
  list-style: none;
  width: 200px;
  height: 256px;
  left: 1094px;
  top: 3644px;

  font-family: "Roboto san-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 64px;
  /* or 400% */

  color: #ffffff;
}
.footer p {
  color: white;
  font-family: "Roboto san-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 64px;
  position: relative;
}
.footer-p {
  position: relative;
  left: 850px;
  bottom: 14px;
}
